<PageHeader :title="title" :items="items" :description="description" />

<!-- contenedor grande -->
<div class="row margen-contenido" v-if="isReady">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body card-background-none">
        <div class="row">
          <div class="col-lg-8 col-xxl-9">
            <div
              class="card-header align-items-center d-flex-no color-cabecera"
              v-if="currentStep"
            >
              <div class="titulo">
                <h6 class="card-title mb-0 flex-grow-1">
                  <i class="ri-honour-line icon-grande2"></i>
                  {{ currentStep.name }}
                </h6>
              </div>
              <div class="derecha enviar" v-if="!readOnly">
                <a
                  :href="`#${modalData.id}`"
                  :data-bs-target="`#${modalData.id}`"
                  data-bs-toggle="modal"
                  class="btn btn-enviar btn-label right ancho"
                >
                  <i
                    class="ri-file-edit-line label-icon align-middle fs-16 ms-2"
                  ></i>
                  Enviar el trámite al SENASAG
                </a>
              </div>
            </div>
            <!-- end card header -->

            <div class="row">
              <!-- Componentes -->
              <div class="col-lg-4 col-xxl-2">
                <div
                  class="nav nav-pills flex-column nav-pills-tab custom-verti-nav-pills text-center"
                  role="tablist"
                  aria-orientation="vertical"
                >
                  <a
                    v-for="(comp, compIndex) in components"
                    :key="compIndex"
                    :id="`home-tab-${comp?.slug}`"
                    :href="`#home-${comp?.slug}`"
                    :aria-controls="`#home-${comp?.slug}`"
                    :class="`nav-link ${
                        currentComponent?.slug === comp.slug ? 'active' : ''
                      }`"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-selected="false"
                    @click="changeSelectedComponent(comp.id)"
                  >
                    {{ comp.name }}
                  </a>
                </div>
              </div>
              <!-- end col-->
              <div class="col-lg-8 col-xxl-10">
                <div class="tab-content text-muted mt-3 mt-lg-0">
                  <Spinner :loading="!currentComponent">
                    <div
                      v-if="currentComponent"
                      class="tab-pane fade active show"
                      :id="`home-${currentComponent.slug}`"
                      role="tabpanel"
                      :aria-labelledby="`home-tab-${currentComponent.slug}`"
                    >
                      <div class="d-flex mb-4">
                        <div class="flex-grow-1">
                          <div class="row">
                            <div
                              class="col-lg-12"
                              v-if="!currentComponent.managed_by_vue"
                            >
                              <div
                                class="card"
                                v-for="(
                                    form, formIndex
                                  ) in currentComponent.forms"
                                :key="formIndex"
                                :set="(v = v$.form_data)"
                              >
                                <GroupName :name="form.name" />
                                <div class="card-body pt-0">
                                  <div class="live-preview">
                                    <div class="row gy-4 pt-3">
                                      <div
                                        v-for="(
                                            field, fieldIndex
                                          ) in form.fields"
                                        :class="field.col"
                                        :key="fieldIndex"
                                      >
                                        <MapFormField
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field?.id]?.$errors
                                            "
                                          v-if="
                                              field.type_field === 'map' ||
                                              field.type_field ===
                                                'multimapField'
                                            "
                                          @update-coordinates="makeChange"
                                          :field="field"
                                        />

                                        <HelpinputField
                                          v-model="
                                              form_data[field.entity_field.id]
                                            "
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.id]?.$errors
                                            "
                                          v-if="
                                              field.type_field === 'helpinput'
                                            "
                                          @update-change="makeChange"
                                          :field="field"
                                        />

                                        <EmailField
                                          v-model="
                                              form_data[field.entity_field?.id]
                                            "
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field?.id]?.$errors
                                            "
                                          v-if="field.type_field === 'email'"
                                          @update-change="makeChange"
                                          :field="field"
                                        />

                                        <RequirementFileField
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.name]
                                                ?.$errors
                                            "
                                          v-if="
                                              field.type_field ===
                                              'requirementField'
                                            "
                                          :style="
                                              fieldIndex % 2 === 0
                                                ? 'background:#eeeeee'
                                                : ''
                                            "
                                          :field="field"
                                          :index="fieldIndex"
                                        />

                                        <SimpleSelectAjaxField
                                          v-model="
                                              form_data[field.entity_field.id]
                                            "
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.id]?.$errors
                                            "
                                          v-if="
                                              field.type_field === 'selectAjax'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                        />

                                        <SimpleSelectField
                                          v-model="
                                              form_data[field.entity_field.id]
                                            "
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.id]?.$errors
                                            "
                                          v-if="
                                              field.type_field ===
                                              'simpleSelect'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                        />

                                        <MultiSelectField
                                          :read-only="readOnly"
                                          v-if="
                                              field.type_field === 'multiSelect'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                        />

                                        <DefaultField
                                          v-model="
                                              form_data[field.entity_field.id]
                                            "
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.id]?.$errors
                                            "
                                          v-if="
                                              field.type_field ===
                                              'defaultField'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                        />

                                        <TextareaField
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.name]
                                                ?.$errors
                                            "
                                          v-if="
                                              field.type_field === 'textarea'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                        />

                                        <MultiuploadField
                                          :read-only="readOnly"
                                          v-if="
                                              field.type_field ===
                                              'multiuploadField'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                          @on:delete-metadata-file="
                                              field.value.splice($event, 1)
                                            "
                                        />

                                        <CheckField
                                          :read-only="readOnly"
                                          v-if="field.type_field === 'check'"
                                          :field="field"
                                          @update-change="makeChange"
                                        />

                                        <RadioField
                                          v-if="field.type_field === 'radio'"
                                          :field="field"
                                          @update-change="makeChange"
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.name]
                                                ?.$errors
                                            "
                                        />

                                        <RichTextField
                                          v-if="
                                              field.type_field ===
                                              'richtextField'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.name]
                                                ?.$errors
                                            "
                                        />

                                        <SwitchField
                                          v-if="field.type_field === 'switch'"
                                          :field="field"
                                          @update-change="makeChange"
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field.name]
                                                ?.$errors
                                            "
                                        />

                                        <NestedTableField
                                          :read-only="readOnly"
                                          v-if="
                                              field.type_field === 'nestedTable'
                                            "
                                          :field="field"
                                        />

                                        <LocalSearchListField
                                          :read-only="readOnly"
                                          v-model="
                                              form_data[field.entity_field.id]
                                            "
                                          v-if="
                                              field.type_field ===
                                              'localSelectSearchField'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                        />

                                        <SelectSearchField
                                          :read-only="readOnly"
                                          v-if="
                                              field.type_field ===
                                              'selectSearchField'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                        />

                                        <DateInputField
                                          v-model="
                                              form_data[field.entity_field?.id]
                                            "
                                          v-if="
                                              field.type_field === 'dateInput'
                                            "
                                          :field="field"
                                          @update-change="makeChange"
                                          :read-only="readOnly"
                                          :error-vuelidate="
                                              v[field.entity_field?.id]?.$errors
                                            "
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <component
                            :read-only="readOnly"
                            v-if="
                                !currentComponent.managed_by_vue &&
                                currentComponent.grid
                              "
                            :data="currentComponentTable"
                            :is="currentComponent.entity.name"
                            @on:click:delete="onShowDeleteConfirmation"
                            @on:click:update="setDataToUpdate"
                          ></component>

                          <component
                            v-if="currentComponent.managed_by_vue"
                            :is="currentComponent.component_vue"
                            v-bind="{
                                    handleEvent,
                                    ...currentComponentPropsAndEvents,
                                  }"
                            v-on="
                                    currentComponentPropsAndEvents.handleEvent
                                  "
                          >
                          </component>

                          <div class="mb-3">
                            <div class="row">
                              <div class="col btn_izq"></div>
                              <div class="col-6 col-sm-4 btn_cen">
                                <button
                                  type="button"
                                  class="btn btn-guardar btn-label right mb-1 mr-1"
                                  v-if="
                                      !hideButton && !idEntityToDeleteOrUpdate
                                    "
                                  @click="handleRequest"
                                >
                                  <i
                                    class="ri-save-line label-icon align-middle fs-16 ms-2"
                                  ></i>
                                  Guardar
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-guardar btn-label right mb-1 mr-1"
                                  v-if="
                                      !hideButton && idEntityToDeleteOrUpdate
                                    "
                                  @click="handleRequestUpdate"
                                >
                                  <i
                                    class="ri-save-line label-icon align-middle fs-16 ms-2"
                                  ></i>
                                  Guardar
                                </button>
                                <a
                                  :href="printUrl"
                                  class="btn btn-print btn-label right mb-1"
                                  v-if="!hidePrintButton"
                                  target="_blank"
                                >
                                  <i
                                    class="ri-printer-line label-icon align-middle fs-16 ms-2"
                                  ></i>
                                  Imprimir
                                </a>
                              </div>
                              <div class="col btn_der"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </Spinner>
                </div>
              </div>
              <!-- end col-->
            </div>
          </div>

          <div class="col-lg-4 col-xxl-3">
            <div class="card2 comunicacion2">
              <div class="card-body2">
                <div
                  class="card-header align-items-center d-flex-no color-cabecera2"
                >
                  <div class="titulo">
                    <h6 class="card-title mb-0 flex-grow-1">
                      <i class="ri-chat-settings-line icon-grande2"></i> Menú
                      trámite
                    </h6>
                  </div>
                </div>

                <div class="margen-top">
                  <div class="d-flex- flex-wrap gap-2 fs-16">
                    <div
                      class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-success"
                      id="accordionBordered"
                    >
                      <div class="d-grid gap-2 mb-2">
                        <router-link
                          :to="{ name: 'senasag.comunicacion.tramites.curso',
                                  params:{
                                    id_solicitud_tramite:$route.params.id_solicitud_tramite
                                  }
                                }"
                          role="button"
                          class="btn btn-observar right ancho"
                          ><i
                            class="bx bxs-bell label-icon align-middle fs-16 ms-2"
                          ></i>
                          Realizar observaciones</router-link
                        >
                      </div>
                      <div
                        class="accordion-item"
                        v-if="template.validaciones?.seprec"
                      >
                        <h2
                          class="accordion-header"
                          id="accordionborderedExample1"
                        >
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#accor_borderedExamplecollapse1"
                            aria-expanded="false"
                            aria-controls="accor_borderedExamplecollapse1"
                          >
                            Verificación externa
                          </button>
                        </h2>
                        <div
                          id="accor_borderedExamplecollapse1"
                          class="accordion-collapse collapse"
                          aria-labelledby="accordionborderedExample1"
                          data-bs-parent="#accordionBordered"
                        >
                          <div class="accordion-body">
                            <div v-if="template.validaciones?.seprec">
                              <strong>VERIFICACIÓN SEPREC</strong><br />
                              <a
                                @click.prevent="checkMatriculaSeprec()"
                                role="button"
                                class="btn btn-observar right ancho"
                              >
                                Verificar</a
                              >
                              <!--SEPREC-->
                              <div v-if="seprecInfo">
                                <strong>NIT: </strong
                                >{{seprecInfo.infoMatricula.Nit}}<br />
                                <strong>Razón social: </strong
                                >{{seprecInfo.infoMatricula.RazonSocial}}<br />
                                <div
                                  v-for="(r,index) in seprecInfo.Representante"
                                >
                                  <strong :key="index">Representante: </strong
                                  >{{r.NombreVinculo}}, {{r.NumId}},
                                  {{r.TipoVinculo}}<br />
                                </div>

                                <strong>Fecha de inscripción: </strong
                                >{{formatDate(seprecInfo.infoMatricula.FechaInscripcion)}}<br />
                                <strong>Fecha de vigencia: </strong
                                >{{formatDate(seprecInfo.infoMatricula.FecVigenciaMatricula)}}<br />
                                <strong>Departamento: </strong
                                >{{seprecInfo.infoMatricula.Departamento}}<br />
                                <strong>Provincia: </strong
                                >{{seprecInfo.infoMatricula.Provincia}}<br />
                                <strong>Municipio: </strong
                                >{{seprecInfo.infoMatricula.Municipio}}<br />
                                <strong>Dirección: </strong
                                >{{seprecInfo.infoMatricula.CalleAv}}<br />
                                <strong>Actividad comercial: </strong
                                >{{seprecInfo.infoMatricula.Actividad}}<br />
                                <strong>Teléfonos: </strong
                                >{{seprecInfo.infoMatricula.Telefono}}<br />
                              </div>
                              <div v-if="seprecInfo===''">
                                <strong
                                  >No se encontró información con esa
                                  matrícula</strong
                                >
                              </div>
                              <br />
                            </div>
                            <!--SEGIP-->
                            <!-- <strong>VERIFICACIÓN SEGIP</strong><br />
                            <br />
                            <strong>FERNANDO PEREZ</strong><br />
                            <strong>CI: </strong>3433535<br /> -->
                            <!--IMPUESTOS-->
                            <!-- <strong>VERIFICACIÓN IMPUESTOS NACIONALES</strong
                            ><br />
                            <br />
                            <strong>EMPRESA ARGUS SA.</strong><br />
                            <strong>NIT: </strong>3433535<br />
                            <strong>ESTADO: </strong>VIGENTE<br /> -->
                          </div>
                        </div>
                      </div>
                      <div
                        class="accordion-item"
                        v-if="template.validaciones?.acreditacion"
                      >
                        <h2
                          class="accordion-header"
                          id="accordionborderedExample4"
                        >
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#accor_borderedExamplecollapse4"
                            aria-expanded="false"
                            aria-controls="accor_borderedExamplecollapse4"
                          >
                            Verificación interna
                          </button>
                        </h2>
                        <div
                          id="accor_borderedExamplecollapse4"
                          class="accordion-collapse collapse"
                          aria-labelledby="accordionborderedExample4"
                          data-bs-parent="#accordionBordered"
                        >
                          <div
                            class="accordion-body"
                            v-if="accreditedVeterinarian && accreditedVeterinarian.status===200"
                          >
                            <!--VETERINARIO-->
                            <strong>VETERINARIO ASIGNADO</strong><br />
                            Los datos se procesaron correctamente
                            <br /><br />
                            <div style="display: block">
                              <strong>NOMBRE: </strong
                              >{{accreditedVeterinarian.nombres}}
                              {{accreditedVeterinarian.primerApellido}}
                              {{accreditedVeterinarian.segunApellido}}<br />
                              <strong>CUA: </strong
                              >{{accreditedVeterinarian.cua}}<br />
                              <strong>MATRÍCULA: </strong
                              >{{accreditedVeterinarian.matricula}}<br />
                              <strong>CATEGORÍA: </strong
                              >{{accreditedVeterinarian.categoria}}<br />
                              <strong>CADUCIDAD: </strong
                              >{{accreditedVeterinarian.fechaCaducidad}}<br />
                            </div>
                          </div>
                          <div
                            class="accordion-body"
                            v-if="accreditedVeterinarian && accreditedVeterinarian.status===503"
                          >
                            El veterinario no esta registrado
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2
                          class="accordion-header"
                          id="accordionborderedExample2"
                        >
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#accor_borderedExamplecollapse2"
                            aria-expanded="false"
                            aria-controls="accor_borderedExamplecollapse2"
                          >
                            Advertencia
                          </button>
                        </h2>
                        <div
                          id="accor_borderedExamplecollapse2"
                          class="accordion-collapse collapse"
                          aria-labelledby="accordionborderedExample2"
                          data-bs-parent="#accordionBordered"
                        >
                          <div class="accordion-body">
                            <p>El responsable no trabaja en otra empresa.</p>
                            <p class="danger">
                              El responsable trabaja en otra empresa.
                            </p>
                            <p>
                              Notifique al solicitante
                              <a href="#">AQUÍ</a> para que cambie de
                              responsable.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2
                          class="accordion-header"
                          id="accordionborderedExample3"
                        >
                          <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#accor_borderedExamplecollapse3"
                            aria-expanded="true"
                            aria-controls="accor_borderedExamplecollapse3"
                          >
                            Accesos
                          </button>
                        </h2>
                        <div
                          id="accor_borderedExamplecollapse3"
                          class="accordion-collapse collapse show"
                          aria-labelledby="accordionborderedExample3"
                          data-bs-parent="#accordionBordered"
                        >
                          <div class="accordion-body">
                            <div class="list-group list-group-fill-success">
                              <a
                                v-for="(s,index) in template.plantilla_tramite.steps"
                                :class="{
                                  active: s.id == currentStep.id,
                                  disabled: (index == 0 || s.id > requestProcedure.fid_etapa_actual_admin)
                                }"
                                :key="s.id"
                                @click.prevent="setCurrentStep(s.id)"
                                class="list-group-item list-group-item-action"
                                tabindex="-1"
                                aria-disabled="true"
                                ><i
                                  class="ri-file-list-3-fill align-middle me-2"
                                ></i
                                >{{s.name}}</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card body -->
            </div>
            <!-- end card -->
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
</div>
<!-- end -->
<teleport to="#modals">
  <DeleteConfirmationModal @send-confirmation="onDelete" :attrs="deleteData" />
</teleport>
