.nested-1,
.nested-2 {
  &.blurred {
    -webkit-filter: blur(4px);
    filter: blur(4px);
   
  }
  &:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

.pointer {
    cursor: pointer;
}
